cat <<EOF > .gitignore
# Node dependencies

node_modules
server/node_modules
client/node_modules
admin/node_modules
client/build/

# Env files
.env
.env.local

# macOS
.DS_Store

# Editor
.vscode/
.idea/
EOF


# *.md 
# *.txt

*.ans